* {margin:0;padding:0;}
body {font-size:12px;font-family:Arial, Helvetica, sans-serif;margin-left:auto;margin-right:auto;
text-align:center;height:100%;}
td {font-size:12px;line-height:24px;margin:0;}
a:link,a:visited{text-decoration:none;color:#333333;}
a:hover,a:active{color:#F30;text-decoration:underline;}

/*****login*********/
#login{
	width:962px;
	height:501px;
	margin-left:auto;
	margin-right:auto;
	margin-top:52px;
	background-image: url(../images/login_03.jpg);
	background-repeat: no-repeat;
}
/*****loginerr*********/
#loginerr
{
	height: 50px;
	width: 270px;
	margin-top:90px;
	}
/*****logintb*********/	
#logintb{
	height: 105px;
	width: 250px;
	margin-top:80px;
}
#logintb li{
    line-height:25px; 
	text-align:left;
}
input{width:140px; height:17px; background-color:#292929; border:solid 1px #7dbad7; font-size:12px; color:#6cd0ff;}
.vv{width:70px; height:17px; background-color:#292929; border:solid 1px #7dbad7; font-size:12px; color:#6cd0ff;}

.STYLE1 {
	font-size: 12px;
	color: #FFFFFF;
}
.STYLE2 {font-size: 9px}
.STYLE3 {
	color: #033d61;
	font-size: 12px;}
.navPoint { 
COLOR: white; CURSOR: hand; FONT-FAMILY: Webdings; FONT-SIZE: 9pt 
} 

/**********Top*************/
.TopLink2 {
	FONT-SIZE: 12px; BACKGROUND: url(../images/admin_01_03.png); WIDTH: 150px; CURSOR: hand; HEIGHT: 23px; TEXT-ALIGN: center
}
.TopLink2_hover {
	FONT-SIZE: 12px; BACKGROUND: url(../images/hover.png); WIDTH: 150px; CURSOR: hand; HEIGHT: 23px; TEXT-ALIGN: center
}s