<?xml version="1.0"?>
<WebSet xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <WebName>深圳市华宙光电科技有限公司</WebName>
  <WebUrl>http://www.hzled-china.com/</WebUrl>
  <WebTel>0755-12345678</WebTel>
  <WebFax>0755-12345678</WebFax>
  <WebEmail>hehaibo882003@163.com</WebEmail>
  <WebCrod>粤ICP备000000号</WebCrod>
  <WebKeywords>深圳华宙光电科技有限公司,深圳LED工厂,深圳LED灯具厂家,深圳LED公司,深圳LED灯具,LED</WebKeywords>
  <WebDescription>深圳华宙光电科技有限公司,深圳LED工厂,深圳LED灯具厂家,深圳LED公司,深圳LED灯具,LED</WebDescription>
  <WebCopyright>华宙光电 Copyright Right © 2013-2015</WebCopyright>
  <WebPath />
  <WebManagePath />
</WebSet>